extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box
        
        //- name
        h1 Tapio Sigmund

        //- description
        p Full Stack JavaScript Developer

        //- about me
        .about-bio

          p As a former educator I understand the importance of presenting content in a way that is quick to comprehend, easy to navigate and puts the user experience first. I take responsibility when it comes to keeping the backend organized, stable, DRY and scalable.

        //- skills
      .skills-contact-box.box
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript/ES6
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        //- Contact details
        h6 Contact Info
        
        //- I did not want to add my phone number so I used Xs
        ul
          li Tapio.Sigmund@outlook.com
          li Tel XXXXXXXXX

        //- I directed the linkedIn account to their homepage. I don't have one yet.
        a.btn-link(href='https://github.com/TaSigmund' target='_blank') GitHub
        a.btn-link(href='https://twitter.com/tasigmund1' target='_blank') Twitter
        a.btn-link(href='https://linkedin.com' target='_blank') LinkedIn

    nav.nav
      a(href='/')
        span &larr;
        |  Back