extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Tapio

        p Full Stack JavaScript Developer


        .about-bio

          p As a former educator I understand the importance of presenting content in a way that is quick to comprehend, easy to navigate and puts the user experience first. I take responsibility when it comes to keeping the backend organized, stable, DRY and scalable.


      .skills-contact-box.box
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript/ES6
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info

        ul
          li Tapio.Sigmund@outlook.com

        //- Add URLs to the hrefs below to link to your social media accounts - feel free to use non-personal links to social media home pages if you prefer
        a.btn-link(href='') LinkedIn
        a.btn-link(href='') GitHub
        a.btn-link(href='') Twitter

    nav.nav
      a(href='/')
        span &larr;
        |  Back