extends layout.pug

block content

  article.portfolio-intro

    //-title
    h1 My Projects

    //-description
    p This page features projects that I have completed as part of the TeamTreehouse Techdegree and will be updated with some of my very own soon.

    //- project gallery
  article.portfolio-project-thumbs
    .projects-box.box.grid
      each project in projects
        .cell
          a(href= '/projects/' + project.id)
            img.thumbnail(src='/static/' + project.image_urls[0], alt='Thumbnail ' + project.project_name)
            h5 #{project.project_name}

